In [1]:
mon_dictionnaire = {
    "Thomas":12,
    "Julien":15,
    "Samuel":17,
    "Mohamed":19.5,
    "Julien":"Absent"
}

In [14]:
mon_dictionnaire

{'Thomas': 12, 'Julien': 'Absent', 'Samuel': 17, 'Mohamed': 19.5}

In [17]:
for i in mon_dictionnaire.items():
    print(i)

('Thomas', 12)
('Julien', 'Absent')
('Samuel', 17)
('Mohamed', 19.5)

In [18]:
for cle, valeur in mon_dictionnaire.items():
    print(cle,"->", valeur)

Thomas -> 12
Julien -> Absent
Samuel -> 17
Mohamed -> 19.5

In [19]:
mon_dictionnaire["Thomas"]

12

In [20]:
mon_dictionnaire["Julie"]=9

In [21]:
mon_dictionnaire

{'Thomas': 12, 'Julien': 'Absent', 'Samuel': 17, 'Mohamed': 19.5, 'Julie': 9}

In [24]:
mon_dictionnaire["Julien"] = 13

In [25]:
mon_dictionnaire

{'Thomas': 12, 'Julien': 13, 'Samuel': 17, 'Mohamed': 19.5, 'Julie': 9}

In [26]:
note_Julie = {"Julie":16}
mon_dictionnaire.update(note_Julie)

In [27]:
mon_dictionnaire

{'Thomas': 12, 'Julien': 13, 'Samuel': 17, 'Mohamed': 19.5, 'Julie': 16}

In [28]:
del mon_dictionnaire["Julie"]

In [29]:
mon_dictionnaire

{'Thomas': 12, 'Julien': 13, 'Samuel': 17, 'Mohamed': 19.5}

In [30]:
mon_dictionnaire.keys()

dict_keys(['Thomas', 'Julien', 'Samuel', 'Mohamed'])

In [31]:
mon_dictionnaire.values()

dict_values([12, 13, 17, 19.5])

In [32]:
for cle in mon_dictionnaire.keys():
    print(cle)

Thomas
Julien
Samuel
Mohamed

In [33]:
for value in mon_dictionnaire.values():
    print(value)

12
13
17
19.5

In [34]:
mon_dictionnaire.items()

dict_items([('Thomas', 12), ('Julien', 13), ('Samuel', 17), ('Mohamed', 19.5)])

In [ ]:
for cle_tuple in mon_dictionnaire.items():

## Exercie manipulation des dictionnaires

In [48]:
import numpy

In [49]:
note_eleve = {
    
    "Marie":15,
    "Samuel":17,
    "Gaston":12,
    "Fred":10,
    "Mae":5,
    "Julie":15,
    "Zoe":7,
    "Claire":20,
    "Julien":14,
    "Chloe":8,
    "Gael":9,
    "Samia":15,
    "Omar":11,
    "Gabriel":16,
    "Manon":2
}
len(note_eleve)

15

In [64]:
somme = 0
for value in note_eleve.values():
    somme += value

Moyenne = somme/len(note_eleve.values())
print("moyenne = ",Moyenne)

moyenne =  11.733333333333333

In [83]:
len(note_eleve)

15

In [82]:
numpy.mean(list(note_eleve.values()))

11.733333333333333

In [67]:
dict_sup_moy = numpy.array(note_eleve.values())

In [68]:
dict_sup_moy

array(dict_values([15, 17, 12, 10, 5, 15, 7, 20, 14, 8, 9, 15, 11, 16, 2]),
      dtype=object)

In [87]:
compteur_ = 0
for value in note_eleve.values():
    if value > Moyenne:
          compteur_ += 1
numbre_greater_mean =  compteur_
print("le nombre d'eleve sup a %.2f est de %d eleve"%(round(Moyenne,1), compteur_))

le nombre d'eleve sup a 11.70 est de 8 eleve

In [74]:
numbre_greater_mean

8

In [75]:
max(note_eleve.values())

20

In [76]:
the_first_student=[]
for key, value in note_eleve.items():
    if value == max(note_eleve.values()):
        the_first_student.append(key)
print(the_first_student)

['Claire']

In [78]:
compteur = 0
for cle in note_eleve.keys():
    if len(cle)<4:
        compteur += 1
print("nbre eleve qui ont un nom inferieur de 4 carecteres", compteur)

nbre eleve qui ont un nom inferieur de 4 carecteres 2

In [79]:
note_eleve.items()

dict_items([('Marie', 15), ('Samuel', 17), ('Gaston', 12), ('Fred', 10), ('Mae', 5), ('Julie', 15), ('Zoe', 7), ('Claire', 20), ('Julien', 14), ('Chloe', 8), ('Gael', 9), ('Samia', 15), ('Omar', 11), ('Gabriel', 16), ('Manon', 2)])

In [80]:
list_prenom_note_paire = []
for key, value in note_eleve.items():
    if value%2 ==0:
        list_prenom_note_paire.append(key)
print("list_prenom_note_paire", list_prenom_note_paire)

list_prenom_note_paire ['Gaston', 'Fred', 'Claire', 'Julien', 'Chloe', 'Gabriel', 'Manon']